<form [formGroup]="tutorialGroup" (submit)="addTutorial()">

    <div>
        <label for="title">Title</label>
        <input type="text" formControlName = "title" [(ngModel)]="title">
        <span *ngIf="tutorialGroup.controls.title.dirty && tutorialGroup.controls.title.errors">
            title is required
        </span>
        {{title}}
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" formControlName = "description">
        <span *ngIf = "tutorialGroup.controls.description.errors?.required && tutorialGroup.controls.description.touched">
            Description is required
        </span> 
        <span *ngIf = "tutorialGroup.controls.description.errors?.minlength && tutorialGroup.controls.description.dirty">
            Description must be at least 5 characters
        </span>
    </div>
    <div>
        <label for="published">Gender</label>
        
        MALE<input type="radio" formControlName ="gender" value="male">
        FEMALE<input type="radio" formControlName ="gender" value="female">
    </div>
    <div>
        <label>phone</label>
        <input type="text" formControlName ="phone">
        <span *ngIf="tutorialGroup.controls.phone.dirty && tutorialGroup.controls.phone.errors">
            invalid contact no
        </span>
    </div>
    <div>
        <input type="submit" value="submit">
    </div>
    <span *ngIf="tutorialGroup.invalid">
        error
    </span>
</form>


