<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">TITLE</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">PUBLISHED</th>
        <th scope="col">FEES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let t of tutorials">
        <th scope="row">{{t.id}}</th>
        <td>{{t.title}}</td>
        <td>{{t.description}}</td>
        <td>{{t.published}}</td>
        <td>{{t.fees}}</td>
        <td>
            <button class="btn btn-danger" (click)="delete(t.id)">DELETE</button>
            <a class = "btn btn-info" [routerLink]="['/updatetutorial',t.id]">UPDATE</a>
        </td>
      </tr>
    
    </tbody>
  </table>